# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

conf/**/*nogit*

bin/
conf/
customLibs/
gh/
src/data/
src/main/java/org/swissbib/srw/createRecordForRDFPipeline.xslt
src/main/java/org/swissbib/srw/createRecordWithOutNamespaces.xslt

